<ul class="subscription" data-subscription="rss">
    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="subscribe-rss">
        <img src="{% static 'images/rss.png' %}">
    </a></li>
</ul>

<form action="https://www.google.com/search" method="get">
    <fieldset role="search">
        <input class="search" type="text" name="q" results="0" placeholder="Search"/>
    </fieldset>
</form>

<ul class="main-navigation">
    <li>
        <a href="/">Início</a>
    </li>
    <li>
        <a href="#">Manifesto</a>
    </li>
    <li>
        <a href="/contact/">Contato</a>
    </li>
</ul>