{% load cms_pages %}
{% load tags_tags %}
<aside class="sidebar">
    <!-- section>
        <h1>Lutadorxs Sociais</h1>
        {% list_pages 'lutadorxs-sociais' 1 '?' 'sidebar' %}
    </section -->
    <section>
        <h1>Links</h1>
        <ul>
            <li>
                <a href="https://www.facebook.com/coletivochegadxs/" title="Coletivo Chegadxs - V.M. - MX70">Coletivo Chegadxs</a>
            </li>
        </ul>
    </section>
    
    <section>
        <h1>Tags</h1>
        {% tags_cloud as tags %}
        {% for tag in tags %}
        <a href="/tags/{{ tag.tag__name }}/">{{ tag.tag__name }}</a> ({{ tag.score }}),
        {% endfor %}
        <a href="/tags/">outras tags...</a>
    </section>
    
    <section>
        <h1>Categorias</h1>
        <ul id="recent_posts">
            {% get_categories as categories %}
            {% for cat in categories %}
            <li>
                <a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>

    {% include '_includes/github.html' %}
    {% include '_includes/social.html' %}
    {% include '_includes/links.html' %}
    {% include '_includes/twitter_sidebar.html' %}
    {% include '_includes/gplus_sidebar.html' %}
</aside>
