<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->
    {% load staticfiles %}
    {% load google_analytics %}
    {% load cms_pages %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | MOVA-SE!</title>

        {% block head %}{% endblock %}

        <!-- http://t.co/dKP3o1e -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{% static 'movase/apple-touch-icon.png' %}">
        <link href="{% static 'images/favicon.png' %}" rel="icon">

        <link rel="stylesheet" href="{% static 'movase/css/bootstrap.css' %}">

        <link href="{% static 'css/main.css' %}" media="screen, projection"
        rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{% static 'movase/assets/lightbox2-master/css/lightbox.css' %}">

        <link rel="stylesheet" href="{% static 'movase/assets/scrollToTop/css/scrollToTop.css' %}">
        <link rel="stylesheet" href="{% static 'movase/assets/scrollToTop/css/easing.css' %}">

        <link rel="stylesheet" href="{% static 'movase/css/lightbox_custom.css' %}">

        <link rel="stylesheet" href="{% static 'ia_client_api/css/ia_client_api.css' %}">

        <link href="{% static 'css/fonts_pt_serif.css' %}" rel="stylesheet" type="text/css">

        <link href="{% static 'css/fonts_pt_sans.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header role="banner">
            {% include '_includes/header.html' %}
        </header>
        <nav role="navigation">
            <ul class="subscription" data-subscription="rss">
                <li>
                    <a href="/pages/rss" title="rss" target="_blank" rel="subscribe-rss"> <img src="{% static 'images/rss.png' %}"> </a>
                </li>
            </ul>

            <!-- form action="https://www.google.com/search" method="get">
                <fieldset role="search">
                    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
                </fieldset>
            </form -->

            <ul class="main-navigation">
                <li>
                    <a href="/pages/manifesto">Manifesto</a>
                </li>
                <li>
                    <a href="/pages/category/noticias">Notícias</a>
                </li>
                <!-- li>
                    <a href="/pages/category/campanhas">Campanhas</a>
                </li>
                <li>
                    <a href="/pages/category/denuncias">Denúncias</a>
                </li -->
                <!-- li>
                    <a href="/contact/">Contato</a>
                </li -->
            </ul>
        </nav>
        <div id="main">

            {% block top %} {% endblock %}

            <div id="content">
                {% block content %}{% endblock %}
                {% include '_includes/sidebar.html' %}
            </div>
        </div>
        <footer role="contentinfo">
            {% include '_includes/footer.html' %}
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            window.jQuery || document.write("<script src=\"{% static 'movase/js/vendor/jquery-1.11.2.min.js' %}\"><\/script>")
        </script>
        <script src="{% static 'js/modernizr-2.0.js' %}"></script>
        <script src="{% static 'js/ender.js' %}"></script>
        <script src="{% static 'js/octopress.js' %}"></script>
        <script src="{% static 'movase/assets/lightbox2-master/js/lightbox.js' %}"></script>
        <script src="{% static 'movase/assets/scrollToTop/src/jquery-scrollToTop.js' %}"></script>
        <script type="text/javascript" charset="utf-8">
            /*
             Solution found in http://www.jqueryscript.net/other/Simple-jQuery-Plugin-For-Scroll-To-Top-Button-scrollToTop.html
             * */
            jQuery(function($) {
                $('body').scrollToTop({
                    skin: 'cycle',
                    animation: 'slide', // fade, slide, none
                });
            });
        </script>
        {% block hide_sidebar %}
        <script type="text/javascript">
            $('body').addClass('collapse-sidebar');
        </script>{% endblock %}

        {% block script %}{% endblock %}

        {% include '_includes/after_footer.html' %}
    </body>
</html>
