<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    {% load staticfiles %}
    {% load google_analytics %}
    {% load cms_pages %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %} | Mova-se!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'movase/apple-touch-icon.png' %}">
        
        <link rel="stylesheet" href="{% static 'movase/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'movase/css/normalize.min.css' %}">
        <link rel="stylesheet" href="{% static 'movase/assets/lightbox2-master/css/lightbox.css' %}">
        <link rel="stylesheet" href="{% static 'movase/css/main.css' %}">

        <link rel="stylesheet" href="{% static 'ia_client_api/css/ia_client_api.css' %}">

        <script src="{% static 'movase/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        
        {% block head %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Mova-se!</h1>
                <nav>
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="#">Manifesto</a></li>
                        <!-- li><a href="/contact/">Contato</a></li -->
                    </ul>
                </nav>
            </header>
        </div>
        
        {% block top %}

        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'movase/img/top_image.png' %}">
                </div>
            </div>
        </div>

        {% endblock %}
        
        <div class="main-container">
            <div class="main wrapper clearfix">
                {% block content %}{% endblock %}
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"{% static 'movase/js/vendor/jquery-1.11.2.min.js' %}\"><\/script>")</script>
        <script src="{% static 'movase/js/vendor/bootstrap.js' %}"></script>
        <script src="{% static 'movase/assets/lightbox2-master/js/lightbox.js' %}"></script>
        <script src="{% static 'movase/js/main.js' %}"></script>
        
        {% block script %}{% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{% google_analytics %}','auto');ga('send','pageview');
        </script>
    </body>
</html>
