{% for page in pages %}
<article>
    <header>
        <h1 class="entry-title"><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h1>
        <p class="meta">
            <time datetime='{{ page.published_at|date:"Y-m-d H:i:s" }}' pubdate>
                Publicado em {{ page.published_at|date:"d \d\e F \d\e Y" }}
            </time>
        </p>
    </header>

    <div class="entry-content">
        {% autoescape off %}
        {{ page.summary }}
        {% endautoescape %}
    </div>
    {% if page.summary != page.content %}
    <footer>
        <a rel="full-article" href="{{ page.get_absolute_url }}">Leia &crarr;</a>
    </footer>
    {% endif %}
</article>
{% endfor %}